In [1]:
import pandas as pd
from api_keys import weather_api_key
import requests
import calendar
# Impoirt cab rides data
cab_rides = pd.read_csv("cab_rides.csv/cab_rides.csv")
cab_rides.head()

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL

In [11]:
# select relevant columns, drop na, set index, import to csv
uber_rides = cab_rides[["id", "distance", "source", "destination", "price", "time_stamp", "name","distance", "surge_multiplier","product_id"]]
uber_rides.dropna(inplace = True)
uber_rides.set_index("id", inplace = True)
uber_rides.head()
uber_rides_random = uber_rides.sample(n=10000, random_state=1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [4]:
boston_weather = pd.read_csv("boston-weather.csv")
date = boston_weather["Day"]
year = []
month = []
days = []

for day in date.tolist():
    split_date = day.split()
    month.append(split_date[1])
    year.append(split_date[2])
    days.append(split_date[0])
    
boston_weather["Month"] = month
boston_weather["Year"] = year
boston_weather["Days"] = days

d = {'jan':1, 'feb':2, 'mar':3, 'apr':4, 'may':5, 'jun': 6, 'jul': 7, 'aug':8,'sep': 9,'oct': 10,'nov':11,'dec': 12 }
boston_weather.Month = boston_weather.Month.map(d)

boston_weather["Date"] = boston_weather["Days"].astype(str) + boston_weather["Month"].astype(str)+ boston_weather["Year"].astype(str)
boston_weather = boston_weather[["Day", "High(°F)", "Low(°F)", "Precip.(inch)","Month", "Year", "Days", "Date"]]
boston_weather.rename(columns = {'Precip.(inch)':'Precip','High(°F)': 'High', 'Low(°F)': 'Low'}, inplace = True) 
boston_weather = boston_weather.replace("T", "0.01")
boston_weather

              Day  High   Low Precip  Month  Year Days      Date
0      1 jan 2015  33.1  22.1   0.00      1  2015    1    112015
1      2 jan 2015  41.0  31.1   0.00      1  2015    2    212015
2      3 jan 2015  37.0  22.1   0.62      1  2015    3    312015
3      4 jan 2015  52.0  35.1   0.57      1  2015    4    412015
4      5 jan 2015  50.0  17.2   0.00      1  2015    5    512015
...           ...   ...   ...    ...    ...   ...  ...       ...
1455  27 dec 2018  37.9  30.2   0.00     12  2018   27  27122018
1456  28 dec 2018  57.0  34.0   0.33     12  2018   28  28122018
1457  29 dec 2018  54.0  32.0   0.00     12  2018   29  29122018
1458  30 dec 2018  34.0  26.2   0.00     12  2018   30  30122018
1459  31 dec 2018     -     -      -     12  2018   31  31122018

[1460 rows x 8 columns]

In [12]:
import datetime

for index, row in uber_rides_random.iterrows():
    time = row["time_stamp"]
    
    new_time = str(datetime.datetime.fromtimestamp(time/1000).strftime('%d-%m-%Y'))
    
    try:
        uber_rides_random.loc[index,"new_time"] = new_time
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [13]:
uber_rides_random

,distance,source,destination,price,time_stamp,name,distance,surge_multiplier,product_id,new_time
id,,,,,,,,,,
05a48a2a-2ad6-40aa-bba8-444ac9448af1,2.16,South Station,Back Bay,16.5,1543340722176,Lyft XL,2.16,1.0,lyft_plus,27-11-2018
d4e8b98d-60ee-4996-b8c8-ba62cf7bb12b,2.25,Back Bay,Haymarket Square,10.5,1544890803422,Lyft,2.25,1.0,lyft,15-12-2018
95a47302-974f-4a07-a995-1df52e03259d,1.56,Boston University,Back Bay,8.0,1543726084863,UberX,1.56,1.0,55c66225-fbe7-4fd5-9072-eab1ece5e23e,01-12-2018
791aa70c-dfa3-43c8-b1e5-9dd321c34f27,0.74,West End,Haymarket Square,3.5,1543439467800,Shared,0.74,1.0,lyft_line,28-11-2018
c19244cb-d786-4836-93d1-b8297c4aa0af,3.14,Theatre District,Fenway,26.0,1545069012083,Lux Black,3.14,1.0,lyft_lux,17-12-2018
...,...,...,...,...,...,...,...,...,...,...
7f9f2532-d542-4a67-ac37-c06b931b0739,4.46,Fenway,Financial District,22.5,1544950211102,Lux,4.46,1.0,lyft_premier,16-12-2018
c462971a-36da-4955-8223-76c7750f595c,1.67,Theatre District,Haymarket Square,5.0,1543450270905,Shared,1.67,1.0,lyft_line,28-11-2018
1f0de59b-c104-42fc-a9c4-98c98a83435b,0.39,Financial District,South Station,26.0,1544824505146,Black SUV,0.39,1.0,6d318bcc-22a3-4af6-bddd-b409bfce1546,14-12-2018
e996bfca-5966-4f4d-a191-6fb04e6130d9,2.80,West End,Boston University,23.0,1543478280200,Black,2.80,1.0,6c84fd89-3f11-4782-9b50-97c468b19529,29-11-2018
7349df7c-fb31-4211-880d-26e0f53a4ac2,0.61,Theatre District,South Station,3.0,1543884782995,Shared,0.61,1.0,lyft_line,03-12-2018

In [14]:
uber_date = uber_rides_random["new_time"]
uber_year = []
uber_month = []
uber_days = []

for uber_day in uber_date.tolist():
    split_uber_date = uber_day.split("-")
    uber_days.append(split_uber_date[0])
    uber_month.append(split_uber_date[1])
    uber_year.append(split_uber_date[2])
    
    
uber_rides_random["Days"] = uber_days
uber_rides_random["Month"] = uber_month
uber_rides_random["Year"] = uber_year
uber_rides_random["Date"] = uber_rides_random["Days"].astype(str) + uber_rides_random["Month"].astype(str)+ uber_rides_random["Year"].astype(str)
uber_rides_random = uber_rides_random.drop(columns=['time_stamp'])

In [16]:
uber_rides_random.to_csv("uber_rides_random.csv")
boston_weather.to_csv("boston_weather.csv",encoding = "utf-8")